<div class="background-container">
  <div class="chat-container">
      <div class="message-container" #messageContainer>
        <div *ngFor="let message of messages" class="message">
          <div class="message-sender">{{ message.sender }}</div>
          <div class="message-content">{{ message.content }}</div>
          <div class="message-time">{{ message.timestamp |  date:'short' }}</div>
        </div>
      </div>
    
      <form (submit)="sendMessage($event)" class="message-input-container">
        <input
          [(ngModel)]="newMessage"
          type="text"
          name="message"
          placeholder="Send a message..."
          autocomplete="off"
          class="message-input"
          required
        />
        <div class="smiley-icon" (click)="toggleSmileyDropdown()">😊</div>
  
      <div class="smiley-dropdown" *ngIf="showSmileyDropdown">
        <span (click)="addSmiley('😊')">😊</span>
        <span (click)="addSmiley('😂')">😂</span>
        <span (click)="addSmiley('😍')">😍</span>
        <span (click)="addSmiley('🤔')">🤔</span>
        <span (click)="addSmiley('👍')">👍</span>
        <span (click)="addSmiley('💀')">💀</span>
      </div>
      <div class="buttons">
        <button type="submit" class="send-button">Send</button>
        <button type="button" class="disconnect" (click)="disconnectUser($event)">Logout</button>
      </div>
      </form>
    </div>
</div>

