<div class="background-wrapper">
    <div class="form_s">
        <h2 class="instructions">Register to the chat!</h2>
        <p class="instructions">Please enter your username and password below to register.</p>
        <form (ngSubmit)="getUserDetails($event)">    
            <input type="text" name="username" placeholder="Username" id="username" autocomplete="off"><br>
            <input type="text" name="password" placeholder="Password" id="password" autocomplete="off"><br>
            <div class="buttons">
                <button type="submit">Register</button>
                <button type="button" (click)="navigateBack($event)" >Back to Chat</button>
            </div>
        </form>
    </div>
</div>