.form_s {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: lightblue;
  }

  .instructions{
    font-family: monospace;
  }

  input{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-top: 10px;
    font-family: monospace;
    align-content: center;
  }

  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: monospace;
  }

  button:hover {
    background-color: white; 
    color: black; 
    border:#4CAF50; 
  }

  .buttons{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: 480px) and (orientation: landscape),
         (max-width: 480px) and (orientation: portrait) {

      .form_s{
        max-width: 80%;
        height: 100vh;
      }
      .instructions {
        font-family: monospace;
        text-align: justify; 
        line-height: 1.5; 
        max-width: 400px; 
        padding: 10px 0; 
    }
      
    }


