.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #2C3E50;
  color: #ECF0F1;
  font-size: 20px;
  font-family: monospace;
  container: size; 
  box-sizing: border-box;
}

.form_submit {
  width: 100%;
  max-width: 400px;
  padding: 50px;
  background-color: #34495E;
  box-shadow: 1px 1px 10px black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}



input, button {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button{
  background-color: #1ABC9C;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: monospace;
  font-weight: bold;
  border-radius: 15px;
}

button:hover{
  background-color: white;
}


input{
  border-radius: 15px;
  transition: background-color 0.5s;
  font-family: monospace;
}

input:hover{
  background-color: rgb(190, 184, 184);;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  margin-top: 20px; 
}



@container (max-width: 480px) {
  .form_submit {
    max-width: 100%; 
    padding: 20px;
  }

  input, button {
    max-width: 100%;
    font-size: 14px;
  }

  h1 {
    display: none; 
  }

  .inputs, .buttons {
    gap: 10px; 
  }
}
